* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.ul {
    background-color: antiquewhite;
    list-style: none;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
}

li a {
    color: white;
    text-decoration: none;
    text-align: center;
}


ul li {
    padding: 16px;
    transition: 0.6s;
    position: relative;
}

ul li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0; 
    height: 3px;
    background-color: #87afee;
    transition: 0.6s;
}

ul li:hover::before {
    width: 100%;
}

li:hover {
    background-color: black;
    color: white;
}

h3 {
    color: #c6b5a0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.pw{
    width: 99%;
}
.pm{
    width: 99%;
    height: 744px;
}
.pk{
    width: 100%;
    height: 744px;
}

.pic {
    display: grid;
    grid-template-columns: repeat( 3 , 33.33333%);
}

.ward{
    margin-left: 10%;
    padding: 24px;
    background: #e9e8ea;
    font-size: 12px;
    width: 80%;
    margin-top: 8px;
}

.h1 {
    margin-top: 0;
    margin-bottom: .5rem;
}

.sign {
    position: absolute;
    display: block;
    float: right;
    margin-left: 88.99%;
}
.login{
    position: absolute;
    display: block;
    float: right;
    margin-left: 94.5%;
}

.p1 {
    position: absolute;
    font-family: fantasy;
    font-size: 26px;
    margin-left: 143px;
    margin-top: -377px;
    background-color: #8a83919e;
    border: #000000 solid 3px;
}

.p2 {
    position: absolute;
    font-family: fantasy;
    font-size: 26px;
    margin-left: 205px;
    margin-top: -377px;
    background-color: #8a83919e;
    border: #000000 solid 3px;
}

.p3 {
    position: absolute;
    font-family: fantasy;
    font-size: 26px;
    margin-left: 207px;
    margin-top: -377px;
    background-color: #8a83919e;
    border: #000000 solid 3px;
}

.pic div {
    overflow: hidden; 
}

#himg {
    transition: .4s ease;
    display: block;
    margin: auto;
    box-sizing: border-box;
}

#himg:hover {
    transform: scale(1.5);
}

.link {
    text-decoration: none;
    color: black;
}

.login-container {
    background-color: white;
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    margin-left: 35%;
    margin-top: 10%;
}

.login-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.login-container input[type="text"],
.login-container input[type="password"],
.login-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.login-container button[type="submit"] {
    background-color: #333;
    color: white;
    cursor: pointer;
}

.login-container button[type="submit"]:hover {
    background-color: #555;
}

.video{
    margin-top: 27px;
    margin-left: 111px;
    border-radius: 27px;
}

.sticky {
    position: sticky;
    top: 0;
    z-index:1000;
}

.hkids {
    display: grid;
    grid-template-rows: repeat(12,9%);
}

.row {
    display: grid;
    grid-template-columns: repeat( 4 , 25% );
}


.kimg {
    width: 223px;
    height: auto;
    margin-left: 71px;
    border-radius: 15px;
}

.price {
    position: absolute;
    margin-top: -2px;
    margin-left: 85px;
}

.formbox {
    background-color: white;
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    margin-left: 35%;
    margin-top: 5%;
}

.reg {
    text-align: center;
}

.formbox input[type="text"],
.formbox input[type="password"],
.formbox button[type="submit"],
.formbox input[type="email"],
.formbox input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.formbox button[type="submit"] {
    background-color: #333;
    color: white;
    cursor: pointer;
}

.formbox button[type="submit"]:hover {
    background-color: #555;
}

footer{
    background-color: #111;
    margin-top: 367px;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}
/* Hover affect on social media icon */
.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}

.searchlable {
    font-size: 19px;
}

.searchbox {
    margin-left: 85%;
}

table {
    width: 100%;
    padding: 0px;
    /* border: 2px solid #ccc; */
    margin-top: 57px;
}

table td {
    padding: 15px;
    background-color: #d1d0d0;
}

table thead td {
    background-color: #87afee;
    font-weight: bold;
    text-align: center;
}

#id {
    text-align: center;
}

.tname {
    width: 16%;
}

.tid {
    width: 8%;
}
.magic {
    position: absolute;
    margin-left: 1302px;
}
.about-us {
    text-decoration: none;
    color: white;
    background: #5482a6;
    border-radius: 64px;
    margin-left: 92%;
    margin-top: 36%;
    position: fixed;
    padding: 19px;
    z-index: 100;
}

.link-of-pages {
    text-align: center;
}

.about-us-table a {
    padding: 15px;
    color: #7676c7;
    text-decoration: none;
    font-size: 20px;
}
.Mimg{
    width: 223px;
    height: 345px;
    margin-left: 71px;
    border-radius: 15px;
}
.hMen{
    display: grid;
    grid-template-rows: repeat(8,14%);

}
.btn{
    background: transparent;
    border: none;
    font-size: 30px;
    outline: none;
    color: grey;
}
.btn i:hover{
    cursor: pointer;
}
.btn {
    position: absolute;
    margin-left: -55px;
    margin-top: 15px;
    transition: ease-in-out;
}


.countdown {
    display: flex;
    position: absolute;
    right: 155px;
    top: 130px;
    z-index: 99;
}

.timer {
    font-size: 3rem;
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
}
#days span{
    font-size: 15px;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 40px;
}
#hours span{
    font-size: 15px;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 150px;
}
#minutes span{
    font-size: 15px;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 255px;
}
#seconds span{
    font-size: 15px;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 365px;
}
.sale{
    position: absolute;
    top: 130px;
    right: 70px;
}
body{
    background: rgb(246, 245, 245);
}
